html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.threeparts {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr ;
    position: relative;
    padding: 5vw;
    text-align: center;
  
}




.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 5s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	 0% {
                display: block;
		transform: translateX(10vw) translateY(1vh) rotateZ(0deg)
	}

	100% {
		transform: translateX(10vw) translateY(100vh) rotateZ(180deg)
	}
}
.flier2 > * {
	/* Adjust animation duration to change the element’s speed */
			animation: flyy 3s linear infinite;
			pointer-events: none !important;
		top: 0;
		left: 0;
		transform: translateX(-120%) translateY(-120%) rotateZ(0);
		position: fixed;
		animation-delay: 1s;
		z-index: 999999;
	}
	
	 /* Keyframe values control where the element will begin
		and end its trajectory across the screen. Each rule
		represents a path the element follows across the screen. */
	
	
	@keyframes flyy {
	
		 0% {
					display: block;
			transform: translateX(20vw) translateY(1vh) rotateZ(0deg)
		}
	
		100% {
			transform: translateX(20vw) translateY(100vh) rotateZ(180deg)
		}
	}
	
